h2 {
  text-align: center;
}

body {
  /* border: solid; */
  display: inline-block;
  height: 80vh;
  text-align: center;
  width: 80vw;
  padding: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.highlight {
  border-style: solid;
  border-color: blue;
}

.inline-block {
  display: inline-block;
  
}

mat-card {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#my-feeds-container {
  display: inline-block;
  height: 75vh;
  text-align: center;
  width: 75vw;
  overflow: auto;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
