<body>
  <h2>My RSS Feeds</h2>

  <div id="my-feeds-container">
    <!-- <mat-card *ngFor="let feed of myFeeds" class="parent">
      <mat-card-header class="child inline-block">
        <mat-card-title>{{feed.title}}</mat-card-title>
        <mat-card-subtitle>{{feed.postTime}}</mat-card-subtitle>
      </mat-card-header>
      <span class="toolbar-spacer"></span>
      <mat-card-content class="child inline-block">
        <br />
        {{feed.rssLink}}
      </mat-card-content>
      <span class="toolbar-spacer"></span>
      <mat-card-actions class="child inline-block">
        <button mat-button>ADD EPISODES</button>
      </mat-card-actions>
    </mat-card> -->
    <mat-expansion-panel *ngFor= "let feed of myFeeds" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <br />
          {{feed.title}}
        </mat-panel-title>
        <mat-panel-description>
          <a [attr.href]="feed.rssLink">{{feed.rssLink}}</a>
          <mat-action-row>
            <button mat-button color="primary">ADD EPISODE</button>
            <button mat-button color="warn" (click)="deleteFeed(feed.key)">DELETE</button>
          </mat-action-row>
          <!-- <mat-icon>account_circle</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      {{feed.description}}

      <!-- <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field> -->
      
    </mat-expansion-panel>
  </div>
</body>
