<!-- <mat-card class="login-card">
  <mat-card-title>You must be logged in to continue</mat-card-title>
  <br />
  <mat-card-content>
    <p>Get the full LaunchPod experience with your Gmail account.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LOGIN</button>
  </mat-card-actions>
</mat-card> -->
<body>
  <h1 mat-dialog-title>You must be logged in to continue</h1>
  <div mat-dialog-content>Get the full LaunchPod experience by logging into your Gmail account.</div>
  <!-- <div mat-dialog-actions> -->
    <button mat-button mat-dialog-close>Login</button>
  <!-- </div> -->
</body>