<form>
    <h2>Name of Your Podcast</h2>
    <mat-form-field appearance="outline">
        <mat-label>Podcast Title</mat-label>
        <input matInput name="title" id="title" placeholder="Ex. This American Life">
    </mat-form-field>
    <br />

    <h2>Description of Your Podcast</h2>
    <mat-form-field appearance="outline">
        <mat-label>Podcast Description</mat-label>
        <input matInput name="description" id="description" placeholder="Ex. This American Life is a public radio show...">
    </mat-form-field>
    <br />

    <h2>Language of Your Podcast (in ISO)</h2>
    <mat-form-field appearance="outline">
        <mat-label>Podcast Language</mat-label>
        <input matInput name="language" id="language" placeholder="Ex. en">
    </mat-form-field>
    <br />

    <h2>Your Email</h2>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput name="email" id="email" placeholder="Ex. 123@google.com">
    </mat-form-field>
    <br />

    <button mat-raised-button type="button" (click)="postFormData()" routerLink="/mp3-form">Create RSS Feed</button>
    <p> You'll be taken to a page where you can add an episode. </p>
    <p id="message"></p>
</form>

