<form>
    <h2>Name of Your Episode </h2>
    <mat-form-field appearance="outline">
        <mat-label>Episode Title</mat-label>
        <input matInput name="episodeTitle" id="episodeTitle" placeholder="Ex. We Are in the Future">
    </mat-form-field>
    <br />

    <h2>Description of Your Episode </h2>
    <mat-form-field appearance="outline">
        <mat-label>Episode Description</mat-label>
        <input matInput name="episodeDescription" id="episodeDescription" placeholder="Ex. In this moment of sorrow, protest, and rage, we offer this as a break from the dreadful present: our show about Afrofuturism.">
    </mat-form-field>
    <br />

    <h2>Select Language</h2>
    <mat-form-field appearance="fill">
      <mat-label>Language</mat-label>
      <mat-select name="episodeLanguage" id="episodeLanguage" [(ngModel)]="selectedLanguage">
        <mat-option *ngFor="let language of languages" [value]="language.value">
          {{language.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <button mat-raised-button type="button" (click)="postEpisodeUploadData()">Go to Episode Upload</button>
    <p id="message"></p>
</form>