<div>
    <h2>Enter the Name of Your Podcast</h2>
    <mat-form-field appearance="outline">
        <mat-label>Podcast Title</mat-label>
        <input matInput placeholder="Ex. This American Life">
    </mat-form-field>
    <br />

    <h2>Provide Your mp3 Link</h2>
    <mat-form-field appearance="outline">
        <mat-label>mp3 Link</mat-label>
        <input matInput placeholder="Paste the mp3 link here">
    </mat-form-field>
    <br />

    <button mat-raised-button (click)="getData()">Create RSS Feed</button>
    <p id="message"></p>
</div>
